/*
 * In order to make the body element be 100% height of the browser window,
 * we have to set it's parent element (html) to have a height of 100%
 * and the body element's height to 100%.
 *
 * This is for the dark transparent overlay (div)
 */
html {
		height: 100%;
	}

body {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-color: black;
	height: 100%;
}

.disable_text_highlighting {
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Webkit */
	-moz-user-select: none;    /* Firefox */
	-ms-user-select: none;     /* IE 10  */

	/* Currently not supported in Opera but will be soon */
	-o-user-select: none;
	user-select: none;
}

.element {
	font-family: Roboto;
	font-size: 4em;
	color: white;
	font-weight: 300;
	top: 10%;
	text-shadow: 3px 3px 10px #111;
}

#title {
	text-align: center;
	margin-top: 20%;
}

#result {
	font-family: Roboto;
	font-size: 20pt;
	color: white;
	font-weight: 300;
	text-align: center;
	text-shadow: 4px 4px 6px #111;
}

div.scroll {
	overflow: scroll;
}

/*
 * This is the main container that has the dark tint to it
 */
.container-fluid {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
}

.input-field {
	margin-top: 8%;
	display: none;
}

.result-field {
	margin-top: 120px;
}

.typed-cursor {
	opacity: 1;
	font-weight: 300;
	font-size: 4em;
	color: white;
	font-family: Roboto;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	-ms-animation: blink 0.7s infinite;
	-o-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}